/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-sep-2018, 21:21:51
    Author     : Jorge-PC
*/
.tabla{
    width: 90vw;
    height: 90vh;
    padding: 1vh 1.5vw 0 1vw;
}

.tabla, .tabla div{    
    display: block;
}

#table_id_length{
    display: none;
}

#table_id_info{
    display: none;
}

table{
    text-transform: uppercase;
    table-layout: auto;
}

table input{
    height: 3.5vh;
    border: none;
}

table form button{
    margin: 0 1vw;
    padding: 0.5vh 1vw;
    color: white;
    border: none;
    background: #4BB86B;
    transition: 0.3s;
}

table form button:hover{
    background: white;
    color: black;
    cursor: pointer;
}

textarea{
    resize: none;
    border: none;
}

.acciones{
    align-content: center;
    justify-content: center;
}

